.big-teal-circle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.big-teal-circle-text-above {
  font-size: 2rem;
  color: var(--white);
}

.big-teal-circle-wrapper {
  position: relative;
  display: inline-block;
}

.big-teal-circle {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background: var(--teal);
  display: flex;
  align-items: center;
  justify-content: center;
}

.big-teal-circle-content {
  color: var(--white);
  text-align: center;
  padding: 2rem;
}

