.hero-image {
  background-image: url('../../assets/shampoo-in-bathroom.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 2rem;
}

.hero-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}

.hero-center {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}

