.small-white-circle {
  position: absolute;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -10%;
  left: -10%;
}

.small-white-circle-content {
  color: var(--teal);
  text-align: center;
  padding: 1rem;
  font-size: 0.875rem;
}

