/* ClickableProduct.css */
/* DEBUG VISUALIZATION:
   Shows a strong outline ONLY when pointer is over an opaque pixel.
   IMPORTANT: Do NOT set position/left/top/transform here, to avoid overriding .pro-product.
*/

.clickable-product {
  display: inline-block;
}

/* Default state: pointer is on transparent pixel (or not moved yet) */
/* .clickable-product[data-hit="0"] {
  cursor: default;
  outline: 2px dashed rgba(255, 0, 255, 0.25);
  background: rgba(255, 0, 255, 0.04);
} */

/* Hit state: pointer is on real (opaque) pixels */
/* .clickable-product[data-hit="1"] {
  cursor: pointer;
  outline: 2px solid #00ff00;
  background: rgba(0, 255, 0, 0.06);
  filter: drop-shadow(0 10px 18px rgba(0, 0, 0, 0.25));
} */

.clickable-product img {
  display: block;

  filter:
    drop-shadow(2px 4px 4px #0000002f)
}
.clickable-product[data-hit="1"] img {
  /* filter:
    drop-shadow(1px 2px 2px #555555) */
}


