/**
 * DailyCare Styles
 *
 * Desktop: CSS Grid (two columns)
 *   - Teal boxes in left column
 *   - Header + products in right column
 *
 * Mobile: Flex column
 *   - Order: header, product1, teal1, product2, teal2
 *
 * Text uses vw units to scale with viewport.
 */

/* =========================
   LAYOUT: DESKTOP GRID
   ========================= */

   .daily-care-section {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto;
    align-content: start;
    width: 100%;
    aspect-ratio: 2730 / 3753;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 4vw 0;
    box-sizing: border-box;
  }
  
  /* Grid placement */
  
  .daily-care-header {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 1vw;
    padding-top: 2vw;
  }
  
  .product-1 {
    grid-column: 2;
    grid-row: 2;
  }
  
  .product-2 {
    grid-column: 2;
    grid-row: 3;
  }
  
  .teal-1 {
    grid-column: 1;
    grid-row: 1 / 3;
    margin-bottom: 5vw;
    margin-top:3vw;
  }
  
  .teal-2 {
    grid-column: 1;
    grid-row: 3;
  }
  
  /* =========================
     TEAL BOXES
     ========================= */
  
  /* Wrappers & images (shared) */
  
  .teal-box-wrapper,
  .product-box-wrapper {
    position: relative;
    width: 100%;
    z-index: 2;
  }  
  .teal-box-wrapper {
    z-index: 1;
  }
  
  .teal-box-image,
  .product-box-image {
    width: 100%;
    height: auto;
    display: block;
  }
  .teal-box-image{    
    height: 100%;
  }
  
  /* Teal box content positioning */
  
  .teal-box-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  /* Teal box typography (base) */
  
  .teal-box-header {
    font-size: 5.5vw;
    color: #fff;
    margin: 0 0 0.5vw 0;
    text-shadow: 0 2px 28px rgba(0, 0, 0, 0.3);
  }
  
  .teal-box-header .header-x {
    margin: 0 1.5vw;
  }
  
  .teal-box-subheader {
    font-size: 2.3vw;
    font-weight: 500;
    color: #fff;
    margin: 0;
    font-family: "Zen Kaku Gothic New", sans-serif;
    text-shadow: 0 2px 28px rgba(0, 0, 0, 0.7);
  }
  
  .teal-box-highlight-line {
    font-size: 4vw;
    font-weight: 500;
    color: #fff;
    margin: 0 0 1vw 0;
    font-family: "Zen Kaku Gothic New", sans-serif;
    text-shadow: 0 2px 28px rgba(0, 0, 0, 0.5);
  }
  
  .teal-box-content .teal-box-highlight-line .highlight {
    font-weight: 600;
  }
  
  .teal-box-text {
    font-size: 1.65vw;
    color: #fff;
    line-height: 1.8;
    margin: 0 0 1.5vw 0;
    font-family: "Zen Kaku Gothic New", sans-serif;
  }
  
  .teal-box-text:last-child {
    margin-bottom: 0;
  }
  
  .teal-box-content .highlight {
    color: #fff;
    font-weight: 500;
    text-shadow: 0 2px 28px rgba(0, 0, 0, 0.5);
  }
  
  .teal-box-content .percent-symbol {
    font-size: 0.7em;
  }
  
  /* Teal-1 specific: layout & alignment */
  
  .teal-1 .teal-box-content {
    align-items: flex-end;
  }
  
  .teal-1 .teal-box-header,
  .teal-1 .teal-box-subheader,
  .teal-1 .teal-box-highlight-line {
    text-align: right;
  }
  
  /* Teal-1 headers: lighter weight */
  
  .teal-1 .teal-box-header {
    font-weight: 400;
  }
  
  /* Teal-1 body text alignment */
  
  .teal-1 .teal-box-text {
    text-align: left;
    align-self: flex-start;
  }
  
  /* Teal-2 specific: padding & font sizes */
  
  .teal-2 .teal-box-content {
    padding: 10%;
  }
  
  .teal-2 .teal-box-header {
    font-size: 2.8vw;
    font-weight: 400;
  }
  
  .teal-2 .teal-box-subheader {
    font-size: 2.8vw;
    font-weight: 400;
    margin-bottom: 1.5vw;
  }
  
  /* =========================
     DAILY CARE HEADER
     ========================= */
  
  .daily-care-header-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .daily-care-header h2 {
    font-family: "Poppins", sans-serif;
    font-size: 6.5vw;
    font-weight: 200;
    font-style: normal;
    color: #fff;
    margin: 0;
  }
  
  .header-underline {
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin-top: 0.2vw;
  }
  
  /* =========================
     PRODUCT BOXES
     ========================= */
  
  /* Product content positioning */
  
  .product-box-content {
    position: absolute;
    top: 0;
    right: 0;
    width: 55%;
    padding: 5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  /* Product typography (base) */
  
  .product-label {
    font-size: 2.5vw;
    font-weight: 400;
    color: #fff;
    margin: 0 0 0.3vw 0;
    letter-spacing: 0.1em;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .product-label .qatm-text {
    font-size: 0.75em;
    font-weight: 700;
    vertical-align: baseline;
  }
  
  .product-title-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .product-title {
    font-family: "Poppins", sans-serif;
    font-size: 3.2vw;
    font-weight: 200;
    color: #fff;
    margin: 0;
    line-height: 1.0;
    font-style: normal;
  }
  
  .product-title-shampoo {
    margin-bottom: 0.2vw;
  }
  
  .product-subtitle {
    font-size: 1.4vw;
    color: #fff;
    margin: 0;
    line-height: 1.5;
  }
  
  /* Product-2 subtitle tweaks */
  
  .product-2 .product-subtitle {
    font-size: 2vw;
    font-weight: 300;
    text-align: left;
  }
  
  /* Product-1 specific layout */
  
  .product-1 .product-box-content {
    align-items: center;
    justify-content: flex-start;
    top: 28%;
    padding-top: 0;
  }
  
  .product-1 .product-label {
    text-align: center;
    width: 100%;
    font-weight: 400;
  }
  
  .product-1 .product-title-shampoo {
    text-align: center;
    width: 100%;
  }
  
  .product-1 .product-title-treatment {
    text-align: left;
    width: 100%;
    margin-bottom: 1vw;
  }
  
  .product-1 .product-subtitle {
    text-align: left;
    width: 100%;
    margin-left: 30%;
  }
  
  /* Product-2 specific layout (centered) */
  
  .product-2 .product-box-content {
    align-items: center;
    justify-content: flex-start;
    right: 5%;
    top: 33%;
    width: 65%;
    padding-top: 0;
  }
  
  .product-2 .product-label,
  .product-2 .product-title {
    text-align: center;
    width: 100%;
  }
  
  .product-2 .product-title {
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
  }
  
  .product-2 .product-label {
    font-weight: 400;
  }
  
  /* =========================
     DAILY CARE BUTTON PLACEMENT
     ========================= */

  .daily-care-button {
    grid-column: 1 / 3;
    grid-row: 4;
  }

  /* =========================
     RESPONSIVE: MOBILE STACK
     ========================= */
  
  @media (max-width: 768px) {
    .daily-care-section {
      display: flex;
      flex-direction: column;
      padding: 3vw 0;
      aspect-ratio: unset;
      min-height: auto;
    }
  
    /* Mobile ordering */
  
    .daily-care-header {
      order: 1;
      /* padding: 0 4vw; */
    }
  
    .product-1 { order: 2; }
    .teal-1    { order: 3; }
    .product-2 { order: 4; }
    .teal-2    { order: 5; }
  
    /* Reduce gaps between items */
    
    .product-1 {
      margin-bottom: -11vw;
    }
    
    .teal-1 {
      margin-bottom: -4vw;
    }
    
    .product-2 {
      margin-bottom: -8vw;
    }
    
    .teal-2 {
      margin-top: -2vw;
    }
  
    /* Width adjustments */
  
    .teal-box-wrapper {
      width: 85%;
    }
  
    .product-box-wrapper {
      width: 100%;
    }
  
    .product-box-content {
      width: 58%;
    }
  
    .product-1 .product-box-content {
      top: 30%;
    }

    .product-2 .product-box-content {
      top: 40%;
    }

    .daily-care-header-content {
      width: 70%;
      align-items: flex-start;
      align-self: flex-end;
      margin-bottom: -2vh;
    }
  
    .header-underline {
      width: 100%;
      /* margin-right: -4vw; */
    }
  
    /* Mobile typography */
  
    .daily-care-header h2 {
      font-size: 7vw;
    }
  
    .product-label {
      font-size: 4.5vw;
    }
  
    .product-title {
      font-size: 6.5vw;
    }
  
    .product-subtitle {
      font-size: 3.2vw;
      font-weight: 300;
      margin-left: -5%;
    }

    .product-2 .product-subtitle {
      font-size: 3.2vw;
    }

    /* Mobile teal box typography */
    
    .teal-box-header {
      font-size: 8vw;
    }
    
    .teal-box-subheader {
      font-size: 3.5vw;
    }
    
    .teal-box-highlight-line {
      font-size: 6.5vw;
    }
    
    .teal-box-text {
      font-size: 2.8vw;
    }
    
    .teal-2 .teal-box-header {
      font-size: 4.5vw;
    }
    
    .teal-2 .teal-box-subheader {
      font-size: 4.5vw;
    }

    .daily-care-button {
      order: 6;
    }
  }
  