/**
 * WeeklyCare Styles
 *
 * Desktop: Vertical stack with product row (image left, teal box right)
 * Mobile: Full-width stacked layout
 *
 * Mirrors DailyCare patterns: vw typography, teal box styling, responsive breakpoints.
 */

/* =========================
   LAYOUT: SECTION CONTAINER
   ========================= */

.weekly-care-section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 4vw 0;
    box-sizing: border-box;
}

/* =========================
   SECTION HEADER
   ========================= */

.weekly-care-header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 80%;
    margin-bottom: 3vw;
}

.weekly-care-header-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    text-shadow: 0 2px 16px rgba(0, 0, 0, 0.3);
}

.weekly-care-header h2 {
    font-family: "Poppins", sans-serif;
    font-size: 6.5vw;
    font-weight: 200;
    font-style: normal;
    color: #fff;
    margin: 0;
    text-align: right;
}

/* Underline extends from left edge of screen to end of title */
.weekly-header-underline {
    position: relative;
    width: 100vw;
    right: 0;
    margin-left: calc(-100vw + 100%);
    height: 2px;
    background-color: #fff;
    margin-top: 0.2vw;
}

/* =========================
   PRODUCT ROW: IMAGE + TEAL BOX
   ========================= */

.weekly-product-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 4vw;
}

/* Left Image */
.weekly-left-image-wrapper {
    width: 50%;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.weekly-left-image {
    width: 100%;
    height: auto;
    display: block;
}

/* Product content positioning - matches DailyCare product-1 */
.weekly-left-image-wrapper .product-box-content {
    position: absolute;
    top: 0;
    right: 42%;
    width: 55%;
    padding: 5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top: 58%;
    padding-top: 0;
}

/* Product typography - matches DailyCare */
.weekly-left-image-wrapper .product-label {
    font-size: 2.5vw;
    font-weight: 400;
    color: #fff;
    margin: 0 0 0.3vw 0;
    letter-spacing: 0.1em;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 100%;
}

.weekly-left-image-wrapper .product-label .qatm-text {
    font-size: 0.75em;
    font-weight: 700;
    vertical-align: baseline;
}

.weekly-left-image-wrapper .product-title-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.weekly-left-image-wrapper .product-title {
    font-family: "Poppins", sans-serif;
    font-size: 3.2vw;
    font-weight: 200;
    color: #fff;
    margin: 0;
    line-height: 1.0;
    font-style: normal;
}

.weekly-left-image-wrapper .product-title-rebirth {
    text-align: left;
    width: 100%;
    margin-bottom: 0.2vw;
    margin-left: 40%;
}

.weekly-left-image-wrapper .product-title-core {
    text-align: left;
    width: 100%;
    margin-bottom: 1vw;
    margin-left: 25%;
}

.weekly-left-image-wrapper .product-subtitle {
    font-size: 1.4vw;
    color: #fff;
    margin: 0;
    line-height: 1.5;
    text-align: left;
    width: 100%;
    margin-left: 40%;
}

/* Right Teal Box */
.weekly-teal-box {
    width: 50%;
    background-color: rgba(111, 179, 175, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vw;
    box-sizing: border-box;
}

.weekly-teal-content {
    width: 100%;
    max-width: 90%;
}

/* Teal box typography - mirrors DailyCare patterns */
.weekly-teal-content .teal-box-header {
    font-size: 3.5vw;
    color: #fff;
    margin: 0 0 1vw 0;
    text-shadow: 0 2px 28px rgba(0, 0, 0, 0.3);
    font-weight: 400;
    text-align: center;
}

.weekly-teal-content .teal-box-subheader {
    font-size: 2vw;
    font-weight: 500;
    color: #fff;
    margin: 0 0 1.5vw 0;
    font-family: "Zen Kaku Gothic New", sans-serif;
    text-shadow: 0 2px 28px rgba(0, 0, 0, 0.7);
    line-height: 1.6;
    text-align: center;
}

.weekly-teal-content .teal-box-list {
    font-size: 1.4vw;
    color: #fff;
    line-height: 1.8;
    margin: 0 0 1.5vw 1.2vw;
    padding-left: 1vw;
    font-family: "Zen Kaku Gothic New", sans-serif;
}

.weekly-teal-content .teal-box-list li {
    margin-bottom: 0.8vw;
}

.weekly-teal-content .teal-box-text {
    font-size: 1.4vw;
    color: #fff;
    line-height: 1.8;
    margin: 0 0 1vw 0;
    font-family: "Zen Kaku Gothic New", sans-serif;
    padding-left: 10%;
}

.weekly-teal-content .teal-box-text:last-child {
    margin-bottom: 0;
}

.weekly-teal-content .highlight {
    color: #fff;
    font-weight: 600;
    text-shadow: 0 2px 28px rgba(0, 0, 0, 0.5);
}

/* =========================
   HOW TO USE SECTION
   ========================= */

.how-to-use-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 4vw;
}

.how-to-use-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5vw;
}

.how-to-use-header h3 {
    font-family: "Poppins", sans-serif;
    font-size: 6.5vw;
    font-weight: 200;
    font-style: normal;
    color: #fff;
    margin: 0;
    text-shadow: 0 2px 16px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.how-to-use-underline {
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin-top: 0.2vw;
}

.how-to-use-subtext {
    font-size: 2.2vw;
    color: #fff;
    text-align: center;
    margin: 0 0 5vw 0;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    font-family: "Zen Kaku Gothic New", sans-serif;
}


/* =========================
   VIDEO CONTAINER
   ========================= */

.video-container {
    width: 80%;
    /* max-width: 800px; */
    aspect-ratio: 16 / 9;
    margin: 0 auto 4vw auto;
}

.video-container iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
}

/* =========================
   NEW PRODUCT SPLASH
   ========================= */

.new-product-splash {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 4vw;
}

.new-product-image {
    width: 80%;
    max-width: 1000px;
    height: auto;
    display: block;
}

/* =========================
   RESPONSIVE: MOBILE
   ========================= */

@media (max-width: 768px) {
    .weekly-care-section {
        padding: 6vw 0;
    }

    /* Header */
    .weekly-care-header {
        margin-bottom: 4vw;
        white-space: nowrap;
    }

    .weekly-care-header h2 {
        font-size: 7vw;
    }

    .weekly-care-header-content {
        width: 75%;
    }
    
    .weekly-header-underline {
        width: 100vw;
        margin-left: calc(-100vw + 100%);
    }

    /* Product row stacks vertically */
    .weekly-product-row {
        flex-direction: column;
        margin-bottom: 6vw;
    }

    .weekly-left-image-wrapper {
        width: 100%;
        order: 1;
        position: relative;
    }

    .weekly-left-image-wrapper .product-box-content {
        width: 58%;
        top: 30%;
    }

    .weekly-left-image-wrapper .product-label {
        font-size: 4.5vw;
    }

    .weekly-left-image-wrapper .product-title {
        font-size: 6.5vw;
    }

    .weekly-left-image-wrapper .product-subtitle {
        font-size: 3.2vw;
        font-weight: 300;
    }

    .weekly-teal-box {
        width: 85%;
        align-self: flex-end;
        order: 2;
        padding: 5vw;
        margin-top: -5vw;
    }

    .weekly-teal-content .teal-box-header {
        font-size: 5.5vw;
    }

    .weekly-teal-content .teal-box-subheader {
        font-size: 3.5vw;
    }

    .weekly-teal-content .teal-box-list {
        font-size: 2.8vw;
        margin-left: 2vw;
        padding-left: 2vw;
    }

    .weekly-teal-content .teal-box-text {
        font-size: 2.8vw;
    }

    /* How to use */
    .how-to-use-header h3 {
        font-size: 7vw;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    }
    
    .weekly-teal-content .teal-box-text {
        padding-left: 3vw;
    }

    .how-to-use-subtext {
        font-size: 2.8vw;
        padding: 0 4vw;
    }

    /* Video */
    .video-container {
        width: 90%;
        margin-bottom: 6vw;
    }

    /* New product splash */
    .new-product-image {
        width: 95%;
    }
}

